<div class="card">
    <div class="card-block">

        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-24">
                        {{ form.fields.column_1_name.label|raw }}
                        {{ form.fields.column_1_name.input|raw }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-24">
                        {{ form.fields.column_1_image.label|raw }}
                        {{ form.fields.column_1_image.input|raw }}
                    </div>
                </div>

            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-24">
                        {{ form.fields.column_2_name.label|raw }}
                        {{ form.fields.column_2_name.input|raw }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-24">
                        {{ form.fields.column_2_image.label|raw }}
                        {{ form.fields.column_2_image.input|raw }}
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-24">
                        {{ form.fields.column_3_name.label|raw }}
                        {{ form.fields.column_3_name.input|raw }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-24">
                        {{ form.fields.column_3_image.label|raw }}
                        {{ form.fields.column_3_image.input|raw }}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>